/* App.css */

body {
  font-family: 'Poppins', sans-serif;
  background-color: hsl(0, 0%, 94%);
  color: hsl(0, 0%, 8%);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.App {
  background-color: hsl(0, 0%, 100%);
  border-radius: 0px;
  position:center;
  height: 400px;
  width: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template-areas: 
    "input-area input-area input-area"
    "calculate-button calculate-button calculate-button"
    "display-area display-area display-area";
  gap: 0rem;
}
.form-control{
  float:left;
  display:flex;
  flex-direction: column;
  
  gap: 0.5rem;

}
.input-area {
  grid-area: input-area;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-control input {
  width: 150px;
  padding: 0.5rem;
  font-size: 20px;
  font-weight: bolder;
  text-align: center;
  border: 0px solid hsl(0, 0%, 86%);
  font-family: 'Poppins', sans-serif;
  font-weight:bolder;
  border-radius: 0px;
  box-sizing: border-box;
  margin-right: 30px;
  margin-bottom: 0px;;
}

input:focus {
  outline: none;
  border-color: hsl(259, 100%, 65%);
}

.input-title{
  position:relative;
  display:flex;
}

label {
  font-family:'Poppins', sans-serif ;
  position:relative;
  font-size: 9.5px;
  font-weight:800;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: hsl(0, 1%, 44%);
  margin-bottom:0px;
  margin-left:40px;
}

.calculate-button {
  grid-area: calculate-button;
  display: flex;
  width:80px;
  margin-left:520px;
  justify-content: center;
  margin-bottom: 0rem;
}

.calculate-button img{
  width:30px;
}

button {
  width: 60px;
  height: 60px;
  display: flex;
  position:relative;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  background-color: hsl(259, 100%, 65%);
  color: hsl(0, 0%, 100%);
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

button:hover {
  background-color: hsl(259, 100%, 60%);
}

button:active {
  background-color: hsl(259, 100%, 55%);
}

.display-area {
  grid-area: display-area;
  text-align: left;
}

.result {
  display: flex;
  flex-direction: column;
  position:relative;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 65px;
  font-style:italic;
  line-height: 1.2;
  font-weight:bolder;
  margin-top: 0rem;
}
.result-display{
  color: hsl(259, 100%, 65%);
  letter-spacing: 7px;
  margin-right:10px;
}

.result span {
  font-weight: 800;
}

.result-name{
  color: black;
}

@media (max-width: 375px) {
  .App {
    padding: 1rem;
  }
  
  input, button, .result {
    font-size: 28px;
  }
}
